In [7]:
import json
import pymysql
import sqlalchemy
from sqlalchemy import create_engine
from pandas import json_normalize
from datetime import datetime
import os
from sqlalchemy import exc

engine = create_engine("mysql+pymysql://teb101Club:teb101Club@127.0.0.1:3306/twstock??charset=utf8mb4", max_overflow=5)

connection = engine.connect

year=datetime.today().date().year
month=datetime.today().date().month

if month >9:
    jsonpath= str(year)+'/'+str(year)+str(month)
else:
    jsonpath= str(year)+'/'+str(year)+'0'+str(month)


filelist=os.listdir(jsonpath)
    
#print(len(filelist))

data=[]
for _file in filelist:
    if 'ng' not in _file:
        filename=path+'/'+_file
        with open(filename, 'r') as f:
            data.append(json.load(f))
            
df=json_normalize(data)
df=df.rename(index=str, columns={'code':'sid'})

df[["date"]] = df[["date"]].astype('datetime64[ns]')
df[["capacity"]] = df[["capacity"]].astype('int')
df[["transaction"]] = df[["transaction"]].astype('int')
df.tail()

,sid,date,capacity,turnover,open,high,low,close,change,transaction
2824,9955,2020-10-06,213000,4043950,18.8,19.1,18.8,19.05,0.30,122
2825,9955,2020-10-07,159614,3026853,18.9,19.1,18.8,19.00,-0.05,102
2826,9958,2020-10-05,6479958,832778498,128.5,130.5,126.5,130.00,2.00,3932
2827,9958,2020-10-06,26551668,3623516184,130.0,140.0,130.0,138.00,8.00,15704
2828,9958,2020-10-07,23472080,3241360380,136.5,142.0,135.0,135.50,-2.50,14114

In [2]:
df.info()
#print(df.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 2820 entries, 0 to 2819
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sid          2820 non-null   object
 1   date         2820 non-null   datetime64[ns]
 2   capacity     2820 non-null   int32
 3   turnover     2820 non-null   int64
 4   open         2813 non-null   float64
 5   high         2813 non-null   float64
 6   low          2813 non-null   float64
 7   close        2813 non-null   float64
 8   change       2820 non-null   float64
 9   transaction  2820 non-null   int32
dtypes: datetime64[ns](1), float64(5), int32(2), int64(1), object(1)
memory usage: 220.3+ KB

# 處理有交易紀錄的缺值

In [3]:
df['open'].fillna(df['turnover']/df['capacity'],inplace=True)
df['high'].fillna(df['turnover']/df['capacity'],inplace=True)
df['low'].fillna(df['turnover']/df['capacity'],inplace=True)
df['close'].fillna(df['turnover']/df['capacity'],inplace=True)
df[df['open'].isna()]
#nalist = df[df['open'].isna()].index
#print(nalist)

,sid,date,capacity,turnover,open,high,low,close,change,transaction
281,1470,2020-10-07,0,0,NaN,NaN,NaN,NaN,0.0,0
2146,5284,2020-10-06,0,0,NaN,NaN,NaN,NaN,0.0,0

# 處理有開市，但沒有紀錄 (移除該欄位)

In [4]:
df=df.dropna()
df= df.reset_index(drop=True)
print(df[df['open'].isna()])

Empty DataFrame
Columns: [sid, date, capacity, turnover, open, high, low, close, change, transaction]
Index: []

# 設定輸出到mySQL的資料型態

In [5]:
#from sqlalchemy.exc import SQLAlchemyError, IntegrityError
def sqlcol(dfparam):    
    dtypedict = {}
    for i,j in zip(dfparam.columns, dfparam.dtypes):
        if "object" in str(j):
            dtypedict.update({i: sqlalchemy.types.NVARCHAR(length=4)})

        if "datetime" in str(j):
            dtypedict.update({i: sqlalchemy.types.DateTime()})

        if "float" in str(j):
            dtypedict.update({i: sqlalchemy.types.Float(precision=2, asdecimal=True)})

        if "int" in str(j):
            dtypedict.update({i: sqlalchemy.types.INT()})
            
        if "int64" in str(j):
            dtypedict.update({i: sqlalchemy.types.BIGINT()})
            
    return dtypedict

outputdict = sqlcol(df)
print(outputdict)
df.tail()

{'sid': NVARCHAR(length=4), 'date': DateTime(), 'capacity': INTEGER(), 'turnover': BIGINT(), 'open': Float(precision=2, asdecimal=True), 'high': Float(precision=2, asdecimal=True), 'low': Float(precision=2, asdecimal=True), 'close': Float(precision=2, asdecimal=True), 'change': Float(precision=2, asdecimal=True), 'transaction': INTEGER()}

,sid,date,capacity,turnover,open,high,low,close,change,transaction
2813,9955,2020-10-06,213000,4043950,18.8,19.1,18.8,19.05,0.30,122
2814,9955,2020-10-07,159614,3026853,18.9,19.1,18.8,19.00,-0.05,102
2815,9958,2020-10-05,6479958,832778498,128.5,130.5,126.5,130.00,2.00,3932
2816,9958,2020-10-06,26551668,3623516184,130.0,140.0,130.0,138.00,8.00,15704
2817,9958,2020-10-07,23472080,3241360380,136.5,142.0,135.0,135.50,-2.50,14114

# import to mySQL

In [6]:
try:
    df.to_sql('transactions', engine, schema='twstock',if_exists='append',index= False, dtype=outputdict, chunksize = 1000)
    print('import mySQL Done')

except exc.IntegrityError:
    print('IntegrityError')
    pass

import mySQL Done