In [69]:
import json
import pymysql
import sqlalchemy
from sqlalchemy import create_engine
from pandas import json_normalize
import os

engine = create_engine("mysql+pymysql://teb101Club:teb101Club@127.0.0.1:3306/twstock", max_overflow=5)

path='202001'

filelist=os.listdir(path)
    

data=[]
for _file in filelist:
    if 'ng' not in _file:
        filename=path+'/'+_file
        with open(filename, 'r') as f:
            data.append(json.load(f))

#print(data)


def sqlcol(dfparam):    
    dtypedict = {}
    for i,j in zip(dfparam.columns, dfparam.dtypes):
        if "object" in str(j):
            dtypedict.update({i: sqlalchemy.types.NVARCHAR(length=255)})

        if "datetime" in str(j):
            dtypedict.update({i: sqlalchemy.types.DateTime()})
            
        if "decimal.Decimal" in str(j):
            dtypedict.update({i: sqlalchemy.types.DECIMAL(precision=None, scale=None, asdecimal=True)})

        if "float" in str(j):
            dtypedict.update({i: sqlalchemy.types.Float(precision=3, asdecimal=True)})

        if "int" in str(j):
            dtypedict.update({i: sqlalchemy.types.INT()})
    return dtypedict

df=json_normalize(data)
df=df.rename(index=str, columns={'code':'sid'})


df[["date"]] = df[["date"]].astype('datetime64[ns]')
df[["capacity"]] = df[["capacity"]].astype('int')
df[["transaction"]] = df[["transaction"]].astype('int')

outputdict = sqlcol(df) 
df.to_sql('transactions', engine, schema='twstock',if_exists='append',index= False, dtype=outputdict)

D:\anaconda3\envs\keras\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xA5x\\xA5_\\xBC\\xD0...' for column 'VARIABLE_VALUE' at row 1")
  result = self._query(query)

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14152 entries, 0 to 14151
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sid          14152 non-null  object
 1   date         14152 non-null  datetime64[ns]
 2   capacity     14152 non-null  int32
 3   turnover     14152 non-null  int64
 4   open         14128 non-null  float64
 5   high         14128 non-null  float64
 6   low          14128 non-null  float64
 7   close        14128 non-null  float64
 8   change       14152 non-null  float64
 9   transaction  14152 non-null  int32
dtypes: datetime64[ns](1), float64(5), int32(2), int64(1), object(1)
memory usage: 1.1+ MB