In [1]:
import json
import pymysql
import sqlalchemy
from sqlalchemy import create_engine
from pandas import json_normalize
from datetime import datetime
import os

engine = create_engine("mysql+pymysql://teb101Club:teb101Club@127.0.0.1:3306/twstock??charset=utf8mb4", max_overflow=5)

path='202005'

filelist=os.listdir(path)
    
#print(len(filelist))

data=[]
for _file in filelist:
    if 'ng' not in _file:
        filename=path+'/'+_file
        with open(filename, 'r') as f:
            data.append(json.load(f))
            
df=json_normalize(data)
df=df.rename(index=str, columns={'code':'sid'})

df[["date"]] = df[["date"]].astype('datetime64[ns]')
df[["capacity"]] = df[["capacity"]].astype('int')
df[["transaction"]] = df[["transaction"]].astype('int')
df.tail()

,sid,date,capacity,turnover,open,high,low,close,change,transaction
18390,9958,2020-05-25,3271669,278406534,84.8,86.5,83.1,86.5,2.2,2291
18391,9958,2020-05-26,3750343,325502268,87.0,87.8,85.7,86.4,-0.1,2428
18392,9958,2020-05-27,6351259,556145208,87.5,88.5,86.1,87.5,1.1,4249
18393,9958,2020-05-28,24477280,2235226807,87.9,93.8,87.5,91.8,4.3,15779
18394,9958,2020-05-29,18694664,1720320260,94.0,95.0,89.3,89.5,-2.3,11915

In [2]:
df.info()
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
Index: 18395 entries, 0 to 18394
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sid          18395 non-null  object
 1   date         18395 non-null  datetime64[ns]
 2   capacity     18395 non-null  int32
 3   turnover     18395 non-null  int64
 4   open         18288 non-null  float64
 5   high         18288 non-null  float64
 6   low          18288 non-null  float64
 7   close        18288 non-null  float64
 8   change       18395 non-null  float64
 9   transaction  18395 non-null  int32
dtypes: datetime64[ns](1), float64(5), int32(2), int64(1), object(1)
memory usage: 1.4+ MB
           capacity      turnover          open          high           low  \
count  1.839500e+04  1.839500e+04  18288.000000  18288.000000  18288.000000
mean   3.141853e+06  1.753979e+08     55.131165     55.980055     54.241140
std    8.419933e+06  6.928768e+08    158.259390    160.799608    155.678068
min    0.000000e+00  0.000000e+00      1.260000      1.330000      1.260000
25%    1.346105e+05  2.796210e+06     13.250000     13.450000     13.100000
50%    5.767880e+05  1.493046e+07     26.150000     26.500000     25.750000
75%    2.395416e+06  9.806693e+07     55.200000     56.200000     54.400000
max    2.065417e+08  2.821635e+10   4265.000000   4325.000000   4190.000000

              close        change   transaction
count  18288.000000  18395.000000  18395.000000
mean      55.024390      0.107285   1355.859310
std      157.906675      4.650927   3121.447743
min        1.320000   -235.000000      0.000000
25%       13.250000     -0.200000     78.000000
50%       26.100000      0.000000    303.000000
75%       55.225000      0.250000   1239.500000
max     4225.000000    155.000000  80799.000000

# 處理有交易紀錄的缺值

In [3]:
df['open'].fillna(df['turnover']/df['capacity'],inplace=True)
df['high'].fillna(df['turnover']/df['capacity'],inplace=True)
df['low'].fillna(df['turnover']/df['capacity'],inplace=True)
df['close'].fillna(df['turnover']/df['capacity'],inplace=True)
#print(df[df['open'].isna()])
#nalist = df[df['open'].isna()].index
#print(nalist)

# 處理有開市，但沒有紀錄 (移除該欄位)

In [4]:
df=df.dropna()
df= df.reset_index(drop=True)
df.head()

,sid,date,capacity,turnover,open,high,low,close,change,transaction
0,1101,2020-05-04,18229830,769716744,41.60,42.65,41.60,42.20,-1.00,7154
1,1101,2020-05-05,14616480,625624459,42.30,43.05,42.30,42.85,0.65,6366
2,1101,2020-05-06,10809816,460727235,42.55,42.95,42.30,42.60,-0.25,5114
3,1101,2020-05-07,9145536,391839031,42.80,43.10,42.50,42.70,0.10,3762
4,1101,2020-05-08,11586777,497571291,43.10,43.10,42.75,43.00,0.30,3544

In [5]:
#from sqlalchemy.exc import SQLAlchemyError, IntegrityError
def sqlcol(dfparam):    
    dtypedict = {}
    for i,j in zip(dfparam.columns, dfparam.dtypes):
        if "object" in str(j):
            dtypedict.update({i: sqlalchemy.types.NVARCHAR(length=4)})

        if "datetime" in str(j):
            dtypedict.update({i: sqlalchemy.types.DateTime()})

        if "float" in str(j):
            dtypedict.update({i: sqlalchemy.types.Float(precision=2, asdecimal=True)})

        if "int" in str(j):
            dtypedict.update({i: sqlalchemy.types.INT()})
            
        if "int64" in str(j):
            dtypedict.update({i: sqlalchemy.types.BIGINT()})
            
    return dtypedict

outputdict = sqlcol(df)
print(outputdict)
df.to_sql('transactions', engine, schema='twstock',if_exists='append',index= False, dtype=outputdict, chunksize =df.shape[1])
print('import mySQL Done')

{'sid': NVARCHAR(length=4), 'date': DateTime(), 'capacity': INTEGER(), 'turnover': BIGINT(), 'open': Float(precision=2, asdecimal=True), 'high': Float(precision=2, asdecimal=True), 'low': Float(precision=2, asdecimal=True), 'close': Float(precision=2, asdecimal=True), 'change': Float(precision=2, asdecimal=True), 'transaction': INTEGER()}

D:\anaconda3\envs\keras\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xA5x\\xA5_\\xBC\\xD0...' for column 'VARIABLE_VALUE' at row 1")
  result = self._query(query)

import mySQL Done